[Unit]
Description=Recovery mode menu
DefaultDependencies=no
ConditionKernelCommandLine=recovery
Conflicts=shutdown.target
Before=systemd-fsck-root.service local-fs-pre.target emergency.service rescue.service
Wants=systemd-udevd-control.socket systemd-udevd.service systemd-udev-trigger.service
After=systemd-udevd-control.socket

[Service]
Type=oneshot
Environment=HOME=/root
WorkingDirectory=/root
ExecStartPre=-/sbin/udevadm trigger --action=add
ExecStartPre=-/sbin/udevadm settle -t 10
ExecStartPre=-/bin/dmesg --console-off
ExecStartPre=-/bin/plymouth quit
ExecStart=-/lib/recovery-mode/recovery-menu
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

[Install]
WantedBy=sysinit.target
WantedBy=emergency.target
WantedBy=rescue.target
