[Unit]
Description=Pantheon Parental Controls Daemon

[Service]
Type=dbus
Restart=always
BusName=org.pantheon.ParentalControls
ExecStart=/usr/bin/pantheon-parental-controls-daemon

[Install]
WantedBy=multi-user.target
