[Unit]
Description=Mount unit for gnome-characters, revision 103
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_103.snap
Where=/snap/gnome-characters/103
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
