[Unit]
Description=Mount unit for gnome-3-26-1604, revision 70
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-3-26-1604_70.snap
Where=/snap/gnome-3-26-1604/70
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
