[Unit]
Description=Mount unit for gtk-common-themes, revision 319
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gtk-common-themes_319.snap
Where=/snap/gtk-common-themes/319
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
